html {
	height: 100%;
    background: radial-gradient(ellipse at bottom, #e8d098 0%, #fbfbea 100%);
    overflow: hidden;
}			
#container{
	color:white;
	padding:15px;
	margin: 0px auto 0px;
	width:400px;
	text-align:center;
	font-family:"微软雅黑 Light";
}
#a1 {
    font-size: 100px;
	text-align: center;
	color: white;
	margin: 10px;
	font-family: "微软雅黑", "Dosis", sans-serif;
	font-size: bold;
	letter-spacing: 1em;
	text-shadow:
	0px 1px 0px #c0c0c0,
	0px 2px 0px #b0b0b0,
	0px 3px 0px #a0a0a0,
	0px 4px 0px #909090,
	0px 5px 10px rgba(0,0,0,0.6);
}
input{
	width:180px;
	height:15px;
	margin:5px;
}
.form-div input[type="text"], .form-div input[type="password"],
input[type="text"], input[type="password"], input[type="email"] {
    border-radius:8px;
    box-shadow:inset 0 2px 5px #eee;
    padding:10px;
    border:1px solid #FF4081;
    margin-top:5px;
}
input[type="button"], input[type="submit"] {
    padding:20px;
    background-color:#8080c0;
    text-align:center;
    border-radius:12px;
    width:80px;
    border:none;
	color:#FFF;
}
input[type="button"]:hover, input[type="submit"]:hover {
    background-color:#FF4081;
}
